  <style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
  .en-markup-crop-options {
      top: 18px !important;
      left: 50% !important;
      margin-left: -100px !important;
      width: 200px !important;
      border: 2px rgba(255,255,255,.38) solid !important;
      border-radius: 4px !important;
  }

  .en-markup-crop-options div div:first-of-type {
      margin-left: 0px !important;
  }
  </style>

<nav class="top-bar" data-topbar="" role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">挂号平台管理系统</a></h1>
    </li>
    <li class="toggle-topbar menu-icon">
      <a href=""><span>菜单</span></a>
    </li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right show-for-large-up">
      <li class="active">
        <a href="#">添加医院</a>
      </li>
      <li class="">
        <a href="#">添加科室</a>
      </li>
      <li class="">
        <a href="#">添加医生</a>
      </li>
      <li class="has-dropdown not-click">
        <a href="#">菜单</a>
        <ul class="dropdown">
          <li class="title back js-generated">
            <h5><a href="javascript:void(0)">Back</a></h5>
          </li>
          <li class="parent-link show-for-small">
            <a class="parent-link js-generated" href="#">Right Button Dropdown</a>
          </li>
          <li><a href="#">管理信息</a></li>
          <li class="active"><a href="#">添加信息</a></li>
          <li><a href="#">登出</a></li>
        </ul>
      </li>
    </ul>
    <ul class="right hide-for-large-up">
      <li class="active"><a href="#">添加信息</a></li>
      <li class="has-dropdown not-click">
        <a href="#">菜单</a>
        <ul class="dropdown">
          <li class="title back js-generated">
            <h5><a href="javascript:void(0)">Back</a></h5>
          </li>
          <li class="parent-link show-for-small">
            <a class="parent-link js-generated" href="#">Right Dropdown</a>
          </li>
          <li>
            <a href="#">管理信息</a>
          </li>
          <li class="active">
            <a href="#">添加信息</a>
          </li>
          <li>
            <a href="#">登出</a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- Left Nav Section -->
    <ul class="left show-for-large-up">
      <li>
        <a href="#">管理信息</a>
      </li>
    </ul>
  </section>
</nav>
<div id="container">
<div class="alert-box success radius" id="success-alerter" style="display: none">
  提交成功
  <a href="#" class="close">&times;</a>
</div>

<!--顶端提示-->
<div class="row">
  <div class=" medium-10 medium-centered large-10 large-centered columns" id="show-editing">
    <div class="row">
      <div class="medium-10 medium-centered large-10 large-centered columns">
        <button onclick="javascript:show_new('hospital')" class="button">添加医院</button>
        <button onclick="javascript:show_new('department')" class="button">添加科室</button>
        <button onclick="show_new('doctor')" class="button">添加医生</button>
      </div>
    </div>
  </div>
</div>
<!--医院信息-->
<div class="row new" id="new-hospital">
  <div class=" medium-10 medium-centered large-10 large-centered columns" id="hospital-window">
    <!--<div class="row">-->
    <!--<div class="medium-10 medium-offset-2 large-10 large-offset-1 columns " style="font-size: 30px;">-->
    <!--<span>医院信息管理</span> <span id="hospital-name-zip">医院名称</span>-->
    <!--</div>-->
    <!--</div>-->

    <form id="form-hospital" action="/information/create_hospital">
      <div class="row">
        <div class="medium-10 medium-centered large-10 large-centered columns">
          <label>医院名称
            <input type="text" name="name" placeholder="请输入医院名称">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-3 large-offset-1 medium-3 medium-offset-1 columns">
          <label>地区：省
            <select name="provinces" id="select-province">
              <option value="null">请选择省/直辖市</option>
            </select>
          </label>
        </div>
        <div class="large-3 medium-3 columns">
          <label>地区：市
            <select name="cities" id="select-city">
              <option value="null">请选择市</option>
            </select>
          </label>
        </div>
        <div class="large-4 medium-4 medium-pull-1 large-pull-1 columns">
          <label>专业
            <select name="majors" id="select-major">
              <option value="null">请选择专业</option>
            </select>
          </label>
        </div>

      </div>
      <div class="row">
        <div class="medium-10 medium-centered large-10 large-centered columns">
          <label>选择医院等级
            <select name="grades" id="select-grade">
              <option value="null">请选择等级</option>
            </select>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="medium-10 medium-centered large-10 large-centered columns">
          <label>医院地址
            <input type="text" name="address" placeholder="请输入医院地址">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="medium-10 medium-centered large-10 large-centered columns">
          <label>联系电话
            <input type="text" name="phone" placeholder="请输入医院的联系电话">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="medium-10 medium-centered large-10 large-centered columns">
          <label>医院简介
            <textarea type="text" name="introduction" placeholder="请输入医院简介"></textarea>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="medium-10 medium-centered large-10 large-centered columns">
          <label>管理科室
            <div id="manage-department">
              <div class="departments selected">科室1 <span class="rm-department">删除</span> <span class="edit-department">修改</span> </div>
              <div class="departments">科室2 <span class="rm-department">删除</span> <span class="edit-department">修改</span> </div>
              <div class="departments">科室3 <span class="rm-department">删除</span> <span class="edit-department">修改</span> </div>
              <div class="departments">科室4 <span class="rm-department">删除</span> <span class="edit-department">修改</span> </div>
              <div class="departments">科室5 <span class="rm-department">删除</span> <span class="edit-department">修改</span> </div>
              <div class="departments">科室6 <span class="rm-department">删除</span> <span class="edit-department">修改</span> </div>
              <div id="add-department">添加科室</div>

            </div>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="medium-10 medium-centered large-10 large-centered columns" style="text-align: center;">
          <button id="submit-hospital" class="button tiny" type="button">保存并关闭</button>
          <a href="#" class="button tiny">取消此编辑</a>
        </div>
      </div>
    </form>




  </div>
</div>
<!--科室信息-->
<div class="row new" id="new-department">
  <div class=" medium-10 medium-centered large-10 large-centered columns" id="department-window">
    <!--<div class="row">-->
    <!--<div class="medium-10 medium-offset-2 large-10 large-offset-1 columns " style="font-size: 30px;">-->
    <!--<span>科室信息管理</span> <span id="department-name-zip">科室名称</span>-->
    <!--</div>-->
    <!--</div>-->
    <form id="form-department" action="/information/create_department">
      <div class="row">
        <div class="medium-10 medium-centered large-10 large-centered columns">
          <label>科室名称
            <input type="text" name="name" placeholder="请输入科室名称" required>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="medium-10 medium-centered large-10 large-centered columns">
          <label>科室简介
            <textarea name="introduction" placeholder="请输入科室简介"></textarea>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="medium-5 medium-offset-1 large-5 large-offset-1 columns">
          <label>所属医院
            <select name="department-level" id="select-hospital">
              <option value="null">请选择医院</option>

            </select>
          </label>
        </div>

        <div class="medium-5 medium-pull-1 large-5 large-pull-1  columns">
          <label>编号
            <input name="ids" type="text" placeholder="请输入科室编号" required>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="medium-10 medium-centered large-10 large-centered columns">
          <label>管理医生
            <div id="manage-doctor">
              <div class="doctors selected">医生1 <span class="rm-doctor">删除</span> <span class="edit-doctor">修改</span> </div>
              <div class="doctors">医生2 <span class="rm-doctor">删除</span> <span class="edit-doctor">修改</span> </div>
              <div class="doctors">医生3 <span class="rm-doctor">删除</span> <span class="edit-doctor">修改</span> </div>
              <div class="doctors">医生4 <span class="rm-doctor">删除</span> <span class="edit-doctor">修改</span> </div>
              <div class="doctors">医生5 <span class="rm-doctor">删除</span> <span class="edit-doctor">修改</span> </div>
              <div class="doctors">医生6 <span class="rm-doctor">删除</span> <span class="edit-doctor">修改</span> </div>
              <div class="doctors">名字很长君 <span class="rm-doctor">删除</span> <span class="edit-doctor">修改</span> </div>
              <div id="add-doctor">添加医生</div>
            </div>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="medium-10 medium-centered large-10 large-centered columns" style="text-align: center;">
          <button class="button small" type="button" id="submit-department">保存并关闭</button>
          <button class="button small">取消此编辑</button>
        </div>
      </div>
    </form>

  </div>
</div>
<!--医生信息-->
<div class="row new" id="new-doctor">
  <div class=" medium-10 medium-centered large-10 large-centered columns" id="doctor-window">
    <!--<div class="row">-->
    <!--<div class="medium-10 medium-offset-2 large-10 large-offset-1 columns " style="font-size: 30px;">-->
    <!--<span>医生信息管理</span>-->
    <!--</div>-->
    <!--</div>-->
    <form id="form-doctor">
      <div class="row">
        <div class="medium-5 medium-offset-1 large-5 large-offset-1 columns">
          <label>所在医院
            <select name="hospitals" id="select-hospital" required="">
              <option>请选择医院</option>

            </select>
          </label>
        </div>

        <div class="medium-5 medium-pull-1 large-5 large-pull-1  columns">
          <label>所在科室
            <select name="departments" id="select-department">
              <option value="null">请选择所在科室</option>

            </select>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="medium-10 medium-centered large-10 large-centered columns">
          <label>医生姓名
            <input type="text" name="name" placeholder="请输入医生姓名">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="medium-10 medium-centered large-10 large-centered columns">
          <label>医生简介
            <textarea name="introduction" placeholder="请输入医生简介"></textarea>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="medium-10 medium-centered large-10 large-centered columns">
          <label for="calendar">医生出勤时间
            <input type="button" id="" name="calendar" class="button" value="点击编辑医生出勤信息" style="padding:10px 15px;font-size: 14px" onclick="$('#set-calendar-window').show()">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="medium-10 medium-centered large-10 large-centered columns" style="text-align: center;">
          <a href="#" class="button [tiny small large]">保存并关闭</a>
          <a href="#" class="button [tiny small large]">取消此编辑</a>
        </div>
      </div>
    </form>

  </div>

</div>

<div id="set-calendar-window" class="full-screen-blur">

    <div id="calendar-window">
      <span id="close-calendar" onclick="$('#set-calendar-window').hide()">X</span>
        <div id="select-frequence">
          <p>
            请选择按月出勤还是按周出勤
          </p>
            <div onclick="$('#select-by-month').hide();$('#select-by-week').show();">
              按周
            </div>
            <div onclick="$('#select-by-week').hide();$('#select-by-month').show()">
              按月
            </div>
        </div>
      <div id="select-by-week" style="text-align: center">
        <div id="week-th">
          <div>周一</div>
          <div>周二</div>
          <div>周三</div>
          <div>周四</div>
          <div>周五</div>
          <div>周六</div>
          <div>周日</div>
        </div>

        <div id="week-table">

          <div>上午</div>
          <div>上午</div>
          <div>上午</div>
          <div>上午</div>
          <div>上午</div>
          <div>上午</div>
          <div>上午</div>
          <div>下午</div>
          <div>下午</div>
          <div>下午</div>
          <div>下午</div>
          <div>下午</div>
          <div>下午</div>
          <div>下午</div>
        </div>
        <button type="button" class="button" style="margin-top: 15px;padding: 8px 20px;" onclick="calculate_week_number()">确定</button>
      </div>
      <div id="select-by-month" style="text-align: center">
        <div id="month-table">
          <div>1:上午</div>
          <div>2:上午</div>
          <div>3:上午</div>
          <div>4:上午</div>
          <div>5:上午</div>
          <div>6:上午</div>
          <div>7:上午</div>
          <div>1:下午</div>
          <div>2:下午</div>
          <div>3:下午</div>
          <div>4:下午</div>
          <div>5:下午</div>
          <div>6:下午</div>
          <div>7:下午</div>
          <div>8:上午</div>
          <div>9:上午</div>
          <div>10:上午</div>
          <div>11:上午</div>
          <div>12:上午</div>
          <div>13:上午</div>
          <div>14:上午</div>
          <div>8:下午</div>
          <div>9:下午</div>
          <div>10:下午</div>
          <div>11:下午</div>
          <div>12:下午</div>
          <div>13:下午</div>
          <div>14:下午</div>
          <div>15:上午</div>
          <div>16:上午</div>
          <div>17:上午</div>
          <div>18:上午</div>
          <div>19:上午</div>
          <div>20:上午</div>
          <div>21:上午</div>
          <div>15:下午</div>
          <div>16:下午</div>
          <div>17:下午</div>
          <div>18:下午</div>
          <div>19:下午</div>
          <div>20:下午</div>
          <div>21:下午</div>
          <div>22:上午</div>
          <div>23:上午</div>
          <div>24:上午</div>
          <div>25:上午</div>
          <div>26:上午</div>
          <div>27:上午</div>
          <div>28:上午</div>
          <div>22:下午</div>
          <div>23:下午</div>
          <div>24:下午</div>
          <div>25:下午</div>
          <div>26:下午</div>
          <div>27:下午</div>
          <div>28:下午</div>
          <div>29:上午</div>
          <div>30:上午</div>
          <div>31:上午</div>
          <div>29:下午</div>
          <div>30:下午</div>
          <div>31:下午</div>
        </div>
        <button type="button" class="button" style="margin-top: 15px;padding: 8px 20px;">确定</button>
    </div>
</div>
</div>
<script type="text/coffeescript">
    console.log(1)
    @show_new = (name) ->
        $('.new').hide()
        $('#new-' + name).show()

    fill_up_select = (data,select) ->
        select.find('option').not(':first').remove()
        select.append($("<option value='#{line.name}' data-id=#{line.id}>#{line.name}</option>")) for line in data

    load_init = () ->
        ajax_post('/information/provinces',{},(data) -> fill_up_select(data.data,$('#select-province')))
        ajax_post('/information/majors',{},(data) -> fill_up_select(data.data,$('#select-major')))
        ajax_post('/information/grades',{},(data) -> fill_up_select(data.data,$('#select-grade')))
        ajax_post('/information/hospitals',{},(data) -> fill_up_select(data.data,$('#select-hospital')))
        binds()


    binds = () ->
        $('#submit-hospital').click(
            () ->
                thi = $(this)
                thi.html('加载中')
                thi.addClass('disabled')
                submit_form($('#form-hospital'),'hospitals',
                    (data) ->
                        submit_success(data)
                        thi.html('保存并关闭')
                        thi.removeClass('disabled')
                        show_new('department')

                )

        )
        $('#submit-department').click(
                () ->
                    thi = $(this)
                    thi.html '加载中'
                    thi.addClass 'disabled'
                    submit_form($('#form-department'),'departments',
                        (data) ->
                            submit_success(data)
                            thi.html('保存并关闭')
                            thi.removeClass('disabled')
                            show_new('doctor')
                    )
        )
        $('#week-table>div').click(
                ()->
                    if $(this).attr("class") is "selected"
                        $(this).attr class:'unselected'
                    else
                        $(this).attr class:'selected'
        )
        $('#month-table>div').click(
            ()->
                if $(this).attr("class") is "selected"
                    $(this).attr class:'unselected'
                else
                    $(this).attr class:'selected'
        )

    $('select').change(
            () ->
                thi = $(this)
                selected = thi.find("option")
                selected.each () -> thi.data('id',$(this).data('id')) if $(this)[0].selected
                ajax_post('/information/cities',{provinces_id:thi.data('id')},(data) -> fill_up_select(data.data,$('#select-city'))) if thi.attr('id') == 'select-province'
    )

    $(window).ready(load_init)

    $('#set-calendar-window').css 'height':document.documentElement.clientHeight



    init_list = () ->
        week_day=$('#week-table>div')
        month_day=$('#month-table>div')
        for day,i in week_day
            if((i is 5) or (i is 6) or (i is 12) or (i is 13))
                $(day).attr class:'unselected'
            else
                $(day).attr class:'selected'
        for day in month_day
            $(day).attr class:'unselected'

    @calculate_week_number = ()->
        week_number=""
        week_day=$('#week-table>div')
        for day,i in week_day
            if $(day).attr('class') is 'selected'
                week_number+="1"
            else
                week_number+="0"
        alert(week_number)
        week_calendar=parseInt(week_number,2)
        alert(week_calendar)
        alert(calculate_week_calendar_by_number(week_calendar))

    @calculate_week_calendar_by_number = (week_calendar)->
        return week_calendar.toString(2)

    @fill_week_table_by_week_calendar = (week_calendar)->
        week_day=$('#week-table>div')
        string = calculate_week_calendar_by_number(week_calendar)
        for char,i in string
            if char is "0"
                $(week_day[i]).attr class:"unselected"
            else
                $(week_day[i]).attr class:"selected"




    init_list()
    fill_week_table_by_week_calendar(14956)
</script>