<div class="">
  <form id="login-form" action="/users/login">
    <div class="row">
      <div class="large-12 columns">
        <label>用户名
          <input type="text" placeholder="用户名 large-12.columns" name="username"/>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns" >
        <label>密码
          <input type="text" placeholder="请输入密码 large-12.columns" name="passwd"/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <div data-alert class="alert-box alert radius small" id="error-alerter" style="display: none">
          <lable id="alert-info"></lable>
          <a href="#" class="close">&times;</a>
        </div>
        <button class="button small" type="button" id="login-submit" href='javascript:login($("#login-form"),"users",function(){
            alert("欢迎登陆！");
        },true);'>登陆</button>
      </div>
    </div>
  </form>
</div>

<script>

</script>



